<h5>You have visited this page <%= @visit_count %> times.</h5>
    <section>
      <div class="row">

        <% @trips.each do |trip| %>

          <div class="col-sm-4">
            <div class="product_single">
              <h2 class="product_header"><%= trip.name %></h2>
              <p>title: <%= trip.name %></p>
              <a href="/trips/<%= trip.id %>" title="View trip"></a>

            </div>
          </div>
        <% end %>

      </div>
    </section>
